/* 	RESULT STYLE  */
.testresult{
    margin-left: 5px;
}
.testresult span{

    padding: 5px;
}
.shortPass{
    background-color:red;
}
.shortPass span{
    background-color:red;
}
.badPass{
    background-color:red;
}
.badPass span{
    background-color:red;
}
.goodPass{
    background-color:yellow;
}
.goodPass span{
    background-color:yellow;
}
.strongPass{
    background-color:green;
}
.strongPass span{
    background-color:green;
}